body
   background-color: #D3D3D3

section
   background-color: rgba(255, 255, 255, 0.5)

input[type=button]
   margin: 3px

ul
   list-style-type: none
   margin-top: 5%
   padding-left: 0

li
   text-align: center